*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#cddafd, white, white);
  background-repeat: no-repeat;
  
}

main,
section {
    padding: 15px;
}

h1{
    color: #0F398C;
    text-transform: uppercase;
    font-size: 23px;
}

.btn-outline-success{
    background-color: #FD628A;
    text-align: center;
    text-transform: uppercase;
    color:  #FFFFFF;
    border-color: #FFB6D7;
}

.btn-outline-primary{
    background-color: #FD628A;
    text-align: center;
    text-transform: uppercase;
    color:  #FFFFFF;
    border-color: #FFB6D7;
  
}

.btn-outline-primary:hover{
    background-color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    color:  #FD628A;
    border-color: #FFB6D7;
}
.card {
    background-color: #E2F5FF;
    color: #1E3666;
}

.card-title{
    color:#223754;
    text-transform: uppercase;
    font-weight: bold;
}



footer {
    background-color: #cddafd;
     position: fixed;
    bottom: 0;
    width: 100%;
}
.logo-footer{
    width: 10%; 
}