*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-image: linear-gradient( #cddafd, white, white);
}

main,
section,
.titulo{
    padding: 15px;
}
h1{
    color: #0F398C;
    text-transform: uppercase;
    text-align: center;   
}

strong{
    color: #FD628A
}

.card-img-top{
    width: 380px;
    height: 350px;
    padding: 10px;
}

.card-title,
.card-text{
    text-align: end;
}


footer {
    background-color: #cddafd;
}
.logo-footer{
    width: 10%
}