*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#cddafd, white, white);
}

main,
section {
    padding: 50px;
}

h1{
    text-transform: uppercase;
    font-size: 30px;
}

h2{
    font-size:15px;
}
   
strong{
    color: #FD628A
}
.box {
    display: flex;
    flex-direction: row-reverse;
  }

.main-img{
    width: 500px;
    height: 300px;
}

.card-img-top{
    width: 90px;
}


footer {
    background-color: #cddafd;
}
.logo-footer{
    width: 10%
}